html {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #f3e5d6;
}

#paco {
  margin: auto;
}

#paco > div {
  display: inline-block;
  vertical-align: middle;
}

.numbers {
  color: #f8f7f3;
  font-weight: bold;
}

#integer {
  font-size: 120px;
}

#decimal {
  font-size: 60px;
}

#years-old {
  color: #C4BDC9;
  font-weight: bold;
  font-size: 50px;
  margin-top: -40px;
  padding-left: 20px;
}
